### Add Padding Around String

In [1]:
text = 'Chapter 1'

In [2]:
print(format(text, '>20'))#add spaces to left
print(format(text, '<20'))#add spaces to left
print(format(text, '*^20'))

           Chapter 1
Chapter 1
*****Chapter 1******

In [3]:
# Import combinations with replacements from itertools
from itertools import combinations_with_replacement
#create a list of objects to combine
list_of_objects = ['warplanes', 'armor', 'infantory']
#create an empty list object to hold the results of the loop
combinations = []
#create a loop for every item in the length of list_of_objects, that,
for i in list(range(len(list_of_objects))):
    #finds every combination(with replacement) for each object in the list
    combinations.append(list(combinations_with_replacement(list_of_objects, i +1)))
combinations

[[('warplanes',), ('armor',), ('infantory',)],
 [('warplanes', 'warplanes'),
  ('warplanes', 'armor'),
  ('warplanes', 'infantory'),
  ('armor', 'armor'),
  ('armor', 'infantory'),
  ('infantory', 'infantory')],
 [('warplanes', 'warplanes', 'warplanes'),
  ('warplanes', 'warplanes', 'armor'),
  ('warplanes', 'warplanes', 'infantory'),
  ('warplanes', 'armor', 'armor'),
  ('warplanes', 'armor', 'infantory'),
  ('warplanes', 'infantory', 'infantory'),
  ('armor', 'armor', 'armor'),
  ('armor', 'armor', 'infantory'),
  ('armor', 'infantory', 'infantory'),
  ('infantory', 'infantory', 'infantory')]]

In [4]:
combinations = [i for row in combinations for i in row]
combinations

[('warplanes',),
 ('armor',),
 ('infantory',),
 ('warplanes', 'warplanes'),
 ('warplanes', 'armor'),
 ('warplanes', 'infantory'),
 ('armor', 'armor'),
 ('armor', 'infantory'),
 ('infantory', 'infantory'),
 ('warplanes', 'warplanes', 'warplanes'),
 ('warplanes', 'warplanes', 'armor'),
 ('warplanes', 'warplanes', 'infantory'),
 ('warplanes', 'armor', 'armor'),
 ('warplanes', 'armor', 'infantory'),
 ('warplanes', 'infantory', 'infantory'),
 ('armor', 'armor', 'armor'),
 ('armor', 'armor', 'infantory'),
 ('armor', 'infantory', 'infantory'),
 ('infantory', 'infantory', 'infantory')]

In [5]:
x = ["apple", "banana"]
print("banana" not in x)

False

In [6]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [7]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [8]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [9]:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [10]:
def myFun(e):
    return e['year']

cars = [
    {'car': 'Ford', 'year':2005},
    {'car': 'Suzuki', 'year':2001},
    {'car': 'BMW', 'year':2007},
    {'car': 'Benz', 'year':2002},
]
cars.sort(key=myFun)
print(cars)

[{'car': 'Suzuki', 'year': 2001}, {'car': 'Benz', 'year': 2002}, {'car': 'Ford', 'year': 2005}, {'car': 'BMW', 'year': 2007}]

In [11]:
def myFunc(e):
    return len(e)
cars = ['Ford', 'Mitsubhi', 'BMW', 'VW']
cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubhi', 'Ford', 'BMW', 'VW']

In [12]:
thistuple = ("apple", "banana", "cherry")
for i in thistuple:
    print(i)

apple
banana
cherry

In [13]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [14]:
thistuple = (5,5,5,5,5,5,5,5)
x = thistuple.count(5)
print(x)

8

In [1]:
thistuple = (5,5,5,6,5,5,5,5)
x = thistuple.index(6)
print(x)

3

In [5]:
def fun(n):
    return lambda a : a * n
myDouble = fun(2)
print(myDouble(3))
print(myDouble(4))
print(myDouble(8))

6
8
16

In [17]:
class MyClass:
    x=5
p1 = MyClass()
print(p1.x)

5

In [18]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
p1 = Person("Jhon", 36)

print(p1.name)
print(p1.age)

Jhon
36

In [19]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def myFun(self):
        print("Hello, my name is " + self.name)
p1=Person("Jhon",36)
p1.myFun()

Hello, my name is Jhon

In [20]:
myList = {"apple", "banana", "carrot"}
myit = iter(myList)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
carrot

In [21]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [22]:
#Recursion function
def tri_resources(k):
    if(k>0):
        result = k * tri_resources(k-1)
        print(result)
    else:
        result=0
    return result
print("\n\n Recursion Example Results")
tri_resources(6)

 Recursion Example Results
0
0
0
0
0
0

0

In [23]:
class MyNumbers:
    def __iter__(self):
        self.a=1
        return self
    def __next__(self):
        x = self.a
        self.a +=1
        return x
p1 = MyNumbers()
myiter = iter(p1)
 
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [24]:
import datetime

x = datetime.datetime.now()
print(x.year)
print(x.month)
print(x.strftime("%z"))

2019
2

# Applying combinations for a list of objects

In [25]:
from itertools import combinations_with_replacement
list_of_objects = ['warplanes','armor','infantry']
combinations = []
for i in list(range(len(list_of_objects))):
    combinations.append(list(combinations_with_replacement(list_of_objects, i+1)))
combinations    

combinations = [i for row in combinations for i in row]

In [26]:
casualties = [420, 90, 120, 43, 540]
def myFun(x):
    return x-10
list(map(myFun, casualties))

[410, 80, 110, 33, 530]

In [27]:
survivor = [482, 93, 392, 920, 813, 199]
updated = []
for x in survivor:
    updated.append(x+10)
updated

[492, 103, 402, 930, 823, 209]

In [28]:
list(map((lambda x : x+10), casualties))

[430, 100, 130, 53, 550]

# Applying functions to list

In [29]:
regimentNames = ['Gorkha Rifles', 'Garhwal Rifles','Brigade of the Guards', 'Bihar Regiment', 'Parachute Regiment', 'Punjab Regiment']
regimentNamesInCapital = []
for i in regimentNames:
    regimentNamesInCapital.append(i.lower())
regimentNamesInCapital

['gorkha rifles',
 'garhwal rifles',
 'brigade of the guards',
 'bihar regiment',
 'parachute regiment',
 'punjab regiment']

In [30]:
capitalizer = lambda x: x.lower()
regimentNamesCapitilized_m = list(map(capitalizer, regimentNames))
regimentNamesCapitilized_m

['gorkha rifles',
 'garhwal rifles',
 'brigade of the guards',
 'bihar regiment',
 'parachute regiment',
 'punjab regiment']

In [31]:
regimentNamesCapitalized_l = [x.upper() for x in regimentNames];
regimentNamesCapitalized_l

['GORKHA RIFLES',
 'GARHWAL RIFLES',
 'BRIGADE OF THE GUARDS',
 'BIHAR REGIMENT',
 'PARACHUTE REGIMENT',
 'PUNJAB REGIMENT']

# Basic operations with Numpy Array

In [32]:
import numpy as np
civilian_deaths = np.array([4352, 233, 3245, 256,2394])

print(civilian_deaths.sum())
print(civilian_deaths.mean())
print(civilian_deaths.min())
print(civilian_deaths.max())

10480
2096.0
233
4352

In [33]:
variableName = 'This is a string.'

In [34]:
one, two, three = [1,2,3]

In [35]:
three

3

In [36]:
firstLetter, secondLetter, thirdLetter, fourthLetter = 'Bark'
secondLetter

'a'

In [37]:
a, *b = 'spam'
b

['p', 'a', 'm']

# Brute Force D20 Roll Simulator

In [38]:
import random
rolling = True
while rolling:
    x = random.randint(0,9)
    y = random.randint(0,9)
    if x<9 and 0<y<9:
        print('You rolled a {0}{1}'.format(x,y))
        rolling = False
    else:
        print('Try again')

Try again
You rolled a 45

# Cartesian Product

In [39]:
import pandas as pd
x = [1,2,3]
y = [1,2,3]
[(i,j) for i in x for j in y]

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [40]:
import itertools
for i in itertools.product([1,2,3], [1,2,3]):
    print(i)

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

# List chaining

In [41]:
from itertools import chain

In [42]:
allies = ['Spain', 'Germany', 'Namibia', 'Austria']
enemies = ['Mexico', 'United Kingdom', 'France']

In [43]:
for country in chain(allies, enemies):
    print(country)

Spain
Germany
Namibia
Austria
Mexico
United Kingdom
France

# NLTK

In [44]:
incoming_reports = ["We are attacking on their left flank but are losing many men.", 
               "We cannot see the enemy army. Nothing else to report.", 
               "We are ready to attack but are waiting for your orders."]

In [45]:
#Method using nltk methods
from nltk.tokenize import word_tokenize
tokenized_reports = [word_tokenize(report) for report in incoming_reports]
tokenized_reports

[['We',
  'are',
  'attacking',
  'on',
  'their',
  'left',
  'flank',
  'but',
  'are',
  'losing',
  'many',
  'men',
  '.'],
 ['We',
  'can',
  'not',
  'see',
  'the',
  'enemy',
  'army',
  '.',
  'Nothing',
  'else',
  'to',
  'report',
  '.'],
 ['We',
  'are',
  'ready',
  'to',
  'attack',
  'but',
  'are',
  'waiting',
  'for',
  'your',
  'orders',
  '.']]

In [46]:
#method using manuall
import re
import string
regex = re.compile('[%s]' % re.escape(string.punctuation))
tokenized_report_no_punctuation = []
for review in tokenized_reports:
    new_review = []
    for token in review:
        new_token = regex.sub(u'', token)
        if not new_token == u'':
            new_review.append(new_token)
    tokenized_report_no_punctuation.append(new_review)
tokenized_report_no_punctuation

[['We',
  'are',
  'attacking',
  'on',
  'their',
  'left',
  'flank',
  'but',
  'are',
  'losing',
  'many',
  'men'],
 ['We',
  'can',
  'not',
  'see',
  'the',
  'enemy',
  'army',
  'Nothing',
  'else',
  'to',
  'report'],
 ['We',
  'are',
  'ready',
  'to',
  'attack',
  'but',
  'are',
  'waiting',
  'for',
  'your',
  'orders']]

In [47]:
from nltk.corpus import stopwords

tokenized_reports_no_stopwords = []
for report in tokenized_report_no_punctuation:
    new_term_vector = []
    for word in report:
        if not word in stopwords.words('english'):
            new_term_vector.append(word)
    tokenized_reports_no_stopwords.append(new_term_vector)
            
tokenized_reports_no_stopwords

[['We', 'attacking', 'left', 'flank', 'losing', 'many', 'men'],
 ['We', 'see', 'enemy', 'army', 'Nothing', 'else', 'report'],
 ['We', 'ready', 'attack', 'waiting', 'orders']]

# Compare Two Dictionaries

In [48]:
#make two dictionaries
importers = {'El Salvador' : 1234,
             'Nicaragua' : 152,
             'Spain' : 252
            }

exporters = {'Spain' : 252,
             'Germany' : 251,
             'Italy' : 1563
             }
importers.keys() & exporters.keys()#For finding the duplicate values

{'Spain'}

In [49]:
importers.keys() - exporters.keys()#For finding the difference key

{'El Salvador', 'Nicaragua'}

In [50]:
importers.items() & exporters.items()#For finding the common items

{('Spain', 252)}

In [51]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11]
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Concurrent processing
The concurrent.futures module provides a high-level interface for asynchronously executing callables.

In [52]:
from concurrent import futures

In [53]:
data = range(100)

In [54]:
def some_function(value):
    return value**value

In [55]:
# With a pool of workers
with futures.ProcessPoolExecutor() as executor:
    # Map the function to the data
    result = executor.map(some_function, data)

Exception in thread Thread-6:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\ProgramData\Anaconda3\lib\threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "C:\ProgramData\Anaconda3\lib\concurrent\futures\process.py", line 295, in _queue_management_worker
    shutdown_worker()
  File "C:\ProgramData\Anaconda3\lib\concurrent\futures\process.py", line 253, in shutdown_worker
    call_queue.put_nowait(None)
  File "C:\ProgramData\Anaconda3\lib\multiprocessing\queues.py", line 129, in put_nowait
    return self.put(obj, False)
  File "C:\ProgramData\Anaconda3\lib\multiprocessing\queues.py", line 83, in put
    raise Full
queue.Full

In [56]:
#The above concept is creating a problem try to solve it when ever your free

# Continue and break

In [57]:
import random

In [58]:
running = True

In [59]:
while running:
    s = random.randint(0,5)
    if s < 3:
        print("It is too small, starting over.")
        continue
    if s == 4:
        running = False
        print("It's four! changing the running to false")
    if s == 5:
        print('It is 5! Breaking Loop!')
        break

It's four! changing the running to false

# HTML

In [60]:
import html

In [61]:
text = 'This item costs &#166;400 or &#169;4.'

In [62]:
html.unescape(text)

'This item costs ¦400 or ©4.'

In [63]:
html.escape(text)

'This item costs &amp;#166;400 or &amp;#169;4.'

# Converting String to Datetime

In [64]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

In [65]:
war_start = '2011-03-07'
datetime.strptime(war_start,'%Y-%m-%d')

datetime.datetime(2011, 3, 7, 0, 0)

In [66]:
attack_Dates = ['7/3/2010','8/4/2011','9/5/2012','10/6/2013','11/7/2014']
[datetime.strptime(D,'%m/%d/%Y') for D in attack_Dates]

[datetime.datetime(2010, 7, 3, 0, 0),
 datetime.datetime(2011, 8, 4, 0, 0),
 datetime.datetime(2012, 9, 5, 0, 0),
 datetime.datetime(2013, 10, 6, 0, 0),
 datetime.datetime(2014, 11, 7, 0, 0)]

In [67]:
birthday = ['25/4/1998', '3/8/1995', '1/5/1970']
[datetime.strptime(x,'%d/%m/%Y') for x in birthday]

[datetime.datetime(1998, 4, 25, 0, 0),
 datetime.datetime(1995, 8, 3, 0, 0),
 datetime.datetime(1970, 5, 1, 0, 0)]

In [68]:
parse(war_start)

datetime.datetime(2011, 3, 7, 0, 0)

In [70]:
[parse(war_start, dayfirst=True) for x in attack_Dates]

[datetime.datetime(2011, 7, 3, 0, 0),
 datetime.datetime(2011, 7, 3, 0, 0),
 datetime.datetime(2011, 7, 3, 0, 0),
 datetime.datetime(2011, 7, 3, 0, 0),
 datetime.datetime(2011, 7, 3, 0, 0)]

In [71]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
df1=pd.to_datetime(df['date'])

# Creating, Writing and deleting the file and reading

In [72]:
# Create a file if it doesn't already exist
with open('file.txt', 'xt') as f:
    # Write to the file
    f.write('This file now exsits!')
    # Close the connection to the file
    f.close()

In [73]:
# Create a file if it doesn't already exist
with open('file.txt', 'rt') as f:
    # Write to the file
    f.read()
    # Close the connection to the file
    f.close()

In [74]:
data

{'date': ['2014-05-01 18:47:05.069722',
  '2014-05-01 18:47:05.119994',
  '2014-05-02 18:47:05.178768',
  '2014-05-02 18:47:05.230071',
  '2014-05-02 18:47:05.230071',
  '2014-05-02 18:47:05.280592',
  '2014-05-03 18:47:05.332662',
  '2014-05-03 18:47:05.385109',
  '2014-05-04 18:47:05.436523',
  '2014-05-04 18:47:05.486877'],
 'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [75]:
import os 
os.remove('file.txt')

# Lists

#### A List is a data structure that holds an ordered collection of items
#### i.e. you can store a sequence of items in a list.
#### Lists are mutable.

In [76]:
allies = ['USA','UK','France','New Zealand',
          'Australia','Canada','Poland']
allies

['USA', 'UK', 'France', 'New Zealand', 'Australia', 'Canada', 'Poland']

In [77]:
allies.append('china');
allies

['USA',
 'UK',
 'France',
 'New Zealand',
 'Australia',
 'Canada',
 'Poland',
 'china']

In [78]:
allies.sort()
allies

['Australia',
 'Canada',
 'France',
 'New Zealand',
 'Poland',
 'UK',
 'USA',
 'china']

In [79]:
allies.reverse();
allies

['china',
 'USA',
 'UK',
 'Poland',
 'New Zealand',
 'France',
 'Canada',
 'Australia']

In [80]:
del allies[4]
allies

['china', 'USA', 'UK', 'Poland', 'France', 'Canada', 'Australia']

# Tuples
Tuples are immutable, and usually contain an heterogeneous sequence of elements that are accessed via unpacking.

In [81]:
usa = ('Texas', 'California', 'Maryland')
usa

('Texas', 'California', 'Maryland')

In [82]:
countries = ('canada', 'mexico', usa)#usa tuple is inside countries tuple
countries

('canada', 'mexico', ('Texas', 'California', 'Maryland'))

In [83]:
countries[2]

('Texas', 'California', 'Maryland')

In [84]:
countries[2][2]

'Maryland'

## Dictionaries
“A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.” - A Byte Of Python

In [85]:
staff = {'charan' : 'charan@gmail.com',
        'kiran':'kiran@gmail.com',
        'vijaya' : 'vijaya@gmail.com'}
staff['ramdhan'] = 'ramdhan@gmail.com'
staff

{'charan': 'charan@gmail.com',
 'kiran': 'kiran@gmail.com',
 'vijaya': 'vijaya@gmail.com',
 'ramdhan': 'ramdhan@gmail.com'}

In [86]:
del staff['kiran']

In [87]:
staff

{'charan': 'charan@gmail.com',
 'vijaya': 'vijaya@gmail.com',
 'ramdhan': 'ramdhan@gmail.com'}

# Sets
sets are unordered collections of simple objects.

In [88]:
BRI = set(['brazil', 'russia', 'india'])

In [89]:
'india' in BRI

True

In [90]:
BRI.add('china')

In [91]:
BRI.remove('china')

In [92]:
BRI

{'brazil', 'india', 'russia'}

In [93]:
BRIC = BRI.copy()
BRIC.add('china')
BRIC.issuperset(BRI)

True

In [94]:
BRI.remove('russia')

In [95]:
BRI & BRIC

{'brazil', 'india'}

# Date And Time Basics

In [96]:
from datetime import datetime
from datetime import timedelta

In [97]:
now = datetime.now()
now

datetime.datetime(2019, 2, 11, 14, 50, 54, 771319)

In [98]:
now.year

2019

In [99]:
now.month

2

In [100]:
now.day

11

In [101]:
now.hour

14

In [102]:
now.minute

50

In [103]:
now.second

54

In [104]:
delta = datetime(2011,1,7) - datetime(2011,1,6)
delta

datetime.timedelta(1)

In [105]:
delta.days

1

In [106]:
delta.seconds

0

In [107]:
start = datetime(2011, 1, 7)

In [108]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [109]:
ages = {'John': 21,
        'Mike': 52,
        'Sarah': 12,
        'Bob': 43
       }

In [110]:
min(zip(ages.values(), ages.keys()))

(12, 'Sarah')

In [111]:
list_of_lists = [['Amy','Betty','Cathryn','Dana'], 
                 ['Elizabeth','Fay','Gora'], 
                  ['Heidi','Jane','Kayley']]

In [112]:
flattend_list = [i for row in list_of_lists for i in row]
flattend_list

['Amy',
 'Betty',
 'Cathryn',
 'Dana',
 'Elizabeth',
 'Fay',
 'Gora',
 'Heidi',
 'Jane',
 'Kayley']

# Functions Vs Generators

In [113]:
def function(names):
    for name in names:
        return name
students = function(['Abe', 'Bob', 'Christina', 'Derek'])     
students

'Abe'

In [114]:
for i in ['kiran', 'charan', 'ramdhan']:
    print(i)

kiran
charan
ramdhan

In [115]:
def generator(names):
    for name in names:
        yield name
students = generator(['Abe', 'Bob', 'Christina', 'Derek']) 
print(next(students))
print(next(students))
print(next(students))

Abe
Bob
Christina

# Random Number generation

In [116]:
import numpy as np
np.random.normal()

-0.35068511897230165

In [117]:
np.random.normal(size=4)

array([-0.13760849,  0.3847269 ,  0.51097406, -0.02300925])

In [118]:
np.random.randint(low=1, high=100, size=3)

array([91, 94, 65])

In [119]:
students = ['Abe', 'Bob', 'Christina', 'Derek', 'Eleanor']

In [120]:
lowercase_names = (student.lower() for student in students)

In [121]:
lowercase_names

In [122]:
next(lowercase_names)

'abe'

In [123]:
next(lowercase_names)

'bob'

In [124]:
next(lowercase_names)

'christina'

# Hard Wrapping Text

In [125]:
import textwrap as tw

In [126]:
excerpt = 'Then there was the bad weather. It would come in one day when the fall was over. We would have to shut the windows in the night against the rain and the cold wind would strip the leaves from the trees in the Place Contrescarpe. The leaves lay sodden in the rain and the wind drove the rain against the big green autobus at the terminal and the Café des Amateurs was crowded and the windows misted over from the heat and the smoke inside.'

In [127]:
print(tw.indent(excerpt,' '))

 Then there was the bad weather. It would come in one day when the fall was over. We would have to shut the windows in the night against the rain and the cold wind would strip the leaves from the trees in the Place Contrescarpe. The leaves lay sodden in the rain and the wind drove the rain against the big green autobus at the terminal and the Café des Amateurs was crowded and the windows misted over from the heat and the smoke inside.

# Default Dictionary

In [128]:
import collections

In [129]:
arrests = collections.defaultdict(int)

In [130]:
arrests['Satyam'] = 10

In [131]:
arrests['motors']

0

In [132]:
arrests

defaultdict(int, {'Satyam': 10, 'motors': 0})

In [144]:
import pandas as pd
data = {'score':[1,2,3,4,5]}
df = pd.DataFrame(data)
df

ValueError: arrays must all be same length

In [141]:
if(df.score==3).all():
    print('Does any cells equal 3? Yes!')
else:
    print('Does any cells equal 3? No!')

Does any cells equal 3? No!

# Iterate an Ifelse over a list

In [155]:
word_list = ['Egyptian', 'Europe', 'England', 'America']
vowels = ['A', 'E', 'I', 'O', 'U']
for word in word_list:
    if any([word.startswith(e) for e in vowels]):
        print('Is valid')
    else:
        print("Invalid")

Invalid
Invalid
Invalid
Invalid

In [156]:
names = ['James', 'Bob', 'Sarah', 'Marco', 'Nancy', 'Sally']
ages = [42, 13, 14, 25, 63, 23]

In [157]:
for name, age in zip(names,ages):
    print(name, age)

James 42
Bob 13
Sarah 14
Marco 25
Nancy 63
Sally 23

In [160]:
dictionary = {'Sachin':20,'dravid':30,'sewagh':35}
dictionary

{'Sachin': 20, 'dravid': 30, 'sewagh': 35}

In [162]:
min(zip(dictionary.keys(),dictionary.values()))

('Sachin', 20)

# Lambda function

In [168]:
var = [lambda x: x**2 +1,
       lambda x: x**20 +1,
       lambda x: x**200 +1]
for i in var:
    print(i(2))

5
1048577
1606938044258990275541962092341162602522202993782792835301377

# Looping over two list

In [171]:
list = ['Ramdhan', 'Devoji', 'Dasram']
list1 = ['Kiran', 'Ramdhan', 'Santosh']
for ls, ls1 in zip(list,list1):
    print(ls, "is father of ", ls1)

Ramdhan is father of  Kiran
Devoji is father of  Ramdhan
Dasram is father of  Santosh

In [172]:
squads = ["1st Squad", '2nd Squad', '3rd Squad']
regiments = ["51st Regiment", '15th Regiment', '12th Regiment']
[(regiment,squads) for regiment in regiments for squad in squads]

[('51st Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('51st Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('51st Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('15th Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('15th Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('15th Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('12th Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('12th Regiment', ['1st Squad', '2nd Squad', '3rd Squad']),
 ('12th Regiment', ['1st Squad', '2nd Squad', '3rd Squad'])]

# Parallel Processing

In [1]:
from multiprocessing import Pool
from multiprocessing.dummy import Pool as ThreadPool

In [3]:
data = range(299)

In [4]:
def some_funtion(datum):
    return datum**datum

In [5]:
%%time
results = []
for datum in data:
    results.append(some_funtion(datum))

Wall time: 1.04 ms

In [6]:
%%time
pool = ThreadPool()
results = pool.map(some_funtion,data)
pool.close()
pool.join()

Wall time: 115 ms

# Partial Function

In [ ]:
from functools import partial
def multiple(x,y,z):
    return x*y*z

In [ ]:
double = partial(multiple, z=3,y=2)
double(3)

# Priority Queue

In [24]:
# Priority Queue object
import heapq
class priority_queue:
    def __init__(self):
        self._queue=[]
        self._index=0
    def add_task(self, item, priority):
        heapq.heappush(self._queue,(-priority, self._index,item))
        self._index+=1
    def next_task(self):
        return heapq.heappop(self._queue)[-1]
task_list = priority_queue()
task_list.add_task('clean Dishes', 1)
task_list.add_task('Wash Dog', 2)
task_list.add_task('Walk Dog', 3)
print(task_list.next_task())
print(task_list.next_task())
print(task_list.next_task())

Walk Dog
Wash Dog
clean Dishes

# Queues and stack

In [29]:
from collections import deque

In [31]:
queue = deque(range(10), maxlen=10)

In [32]:
queue.append('A')

In [33]:
queue

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 'A'])

In [36]:
queue.appendleft('A')
queue

deque(['A', 'A', 1, 2, 3, 4, 5, 6, 7, 8])

In [40]:
queue.count('A')

2

In [48]:
queue.popleft()

'A'

In [57]:
print(queue)
print(queue.insert(1,'A'))

deque([1, 'A', 'A', 'A', 'A', 'A', 'A', 'A', 2, 'A'], maxlen=10)

IndexError: deque already at its maximum size

In [60]:
queue.reverse()
queue

deque(['A', 2, 'A', 'A', 'A', 'A', 'A', 'A', 'A', 1])

In [61]:
queue.clear()

In [62]:
queue

deque([])

In [67]:
def factorial(n):
    if n<=1:
        return n
    return n*factorial(n-1)
n=int(input())
factorial(n)

6

720

# selecting item from list using filter

In [68]:
regimentSize = (5345, 6436, 3453, 2352, 5212, 6232, 2124, 3425, 1200, 1000, 1211); regimentSize

(5345, 6436, 3453, 2352, 5212, 6232, 2124, 3425, 1200, 1000, 1211)

In [74]:
small_regiment = list(filter((lambda x : x<2500), regimentSize))
print(small_regiment)

[2352, 2124, 1200, 1000, 1211]

In [76]:
small_regiment = []
for x in regimentSize:
    if x<2500:
        small_regiment.append(x)
    print(x)

5345
6436
3453
2352
5212
6232
2124
3425
1200
1000
1211

In [77]:
commander_names = ["Alan Brooke", "George Marshall", "Frank Jack Fletcher", "Conrad Helfrich", "Albert Kesselring"]

In [84]:
sorted(commander_names, key = lambda x:x.split(' ')[-1])

['Alan Brooke',
 'Frank Jack Fletcher',
 'Conrad Helfrich',
 'Albert Kesselring',
 'George Marshall']

In [85]:
sorted(commander_names, key = lambda x:len(x))

['Alan Brooke',
 'George Marshall',
 'Conrad Helfrich',
 'Albert Kesselring',
 'Frank Jack Fletcher']

In [86]:
sorted(commander_names, key = lambda x:x.split(' '))

['Alan Brooke',
 'Albert Kesselring',
 'Conrad Helfrich',
 'Frank Jack Fletcher',
 'George Marshall']

# String Formatting

In [7]:
import sys

In [8]:
'This is %d %s bird!' %(1, 'dead')

'This is 1 dead bird!'

In [9]:
'%(number)d more %(food)s' %{'number' : 1, 'food' : 'burger'}

'1 more burger'

In [14]:
'My {1[kind]} runs {0.platform}'. format(sys, {'kind':'laptop'})

'My laptop runs win32'

In [15]:
string = 'Strings are defined as ordered collections of characters.'

In [16]:
string[:]

'Strings are defined as ordered collections of characters.'

In [19]:
string[0:3]
string[:3]

'Str'

In [21]:
string[0:10:3]

'Sisr'

In [22]:
string[::-1]

'.sretcarahc fo snoitcelloc deredro sa denifed era sgnirtS'

# Try, Catch and Except

In [27]:
scores = ['Kiran kumar']

In [29]:
try:
    print('Worked!', scores)
except Exception as e:
    print('Error:', e)
finally:
    print('End program')

Worked! ['Kiran kumar']
End program

# Unpacking A tuple

In [1]:
family = [('kiran','kumar'),('ramdhan','naik'),('charan','nayak'),('vijaya','bhai')]

In [2]:
for first,_ in family:
    print(_)

kumar
naik
nayak
bhai

In [34]:
argument_dict = {'a':'Alpha', 'b':'Brave'}
argument_list = ['Alpha', 'Bravo']
def simple_function(a,b):
    return a+b
print(simple_function(**argument_dict))
print(simple_function(*argument_list))

AlphaBrave
AlphaBravo

In [41]:
data1=[]
data = [1,2,3,4,5]
for i in data:
    data1.append(i)
print(data1)

[1, 2, 3, 4, 5]

In [47]:
from collections import namedtuple

In [52]:
vehicle = namedtuple('vehicle', 'make model wheels manual')
forrest = vehicle('Forrester','subaru', 4, True)
print(forrest.model)
print(forrest.make)
print(forrest.wheels)
print(forrest.manual)

subaru
Forrester
4
True

In [27]:
import datetime
class Regiment(object):

    def __init__(self, date=datetime.datetime.now()):
        self.date = date

    def __repr__(self):
        return date

    def __str__(self):
        return str(date)  
    print(type(repr(date)))
    print(type(str(date)))

<class 'str'>
<class 'str'>

In [31]:
a = datetime.datetime.now()
b = datetime.datetime.now()
print(str(a))
print(repr(b))

2019-02-12 15:26:19.814276
datetime.datetime(2019, 2, 12, 15, 26, 19, 814276)

In [38]:
class ClassName:
    def createName(self,name):
        self.name=name
    def displayName(self):
        return self.name
    def saying(self):
        print('Hello',self.name)
first=ClassName()
second=ClassName()
first.createName('kiran')
second.createName('charan')
first.displayName()
second.displayName()
first.saying()

Hello kiran

In [3]:
from numpy import random

In [6]:
deaths = 6
running = True
while running:
    guess=random.randint(0,10)
    if guess == deaths:
        print("correct")
        running = False
    elif guess>deaths:
        print("It is higher", guess)
    else:
        print("It is lower", guess)

It is lower 2
It is higher 9
It is lower 1
It is lower 0
It is lower 5
It is lower 1
It is lower 1
It is higher 9
correct

In [9]:
import pandas as pd
data = {'Platoon': ['A','A','A','A','A','A','B','B','B','B','B','C','C','C','C','C'],
       'Casualties': [1,4,5,7,5,5,6,1,4,5,6,7,4,6,4,6]}
df = pd.DataFrame(data)
df

   Platoon  Casualties
0        A           1
1        A           4
2        A           5
3        A           7
4        A           5
5        A           5
6        B           6
7        B           1
8        B           4
9        B           5
10       B           6
11       C           7
12       C           4
13       C           6
14       C           4
15       C           6

In [10]:
df.groupby('Platoon')['Casualties'].apply(lambda x:x.rolling(center=False,window=2).mean())

0     NaN
1     2.5
2     4.5
3     6.0
4     6.0
5     5.0
6     NaN
7     3.5
8     2.5
9     4.5
10    5.5
11    NaN
12    5.5
13    5.0
14    5.0
15    5.0
Name: Casualties, dtype: float64

Enter lower range: 7
Enter upper range: 27
7
11
13
17
19
23

In [6]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 7
Enter upper range: 27
7
11
13
17
19
23